<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>

<div class="events">
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-xs-6 col-sm-4 col-md-4">
        <div class="thumbnail">
          <img src="<%= event.img_url %>" alt="<%= event.title %>">
          <div class="caption">
            <h3><%= event.title %></h3>
            <p><%= event.description %></p>
            <p><%= event.location %></p>
            <p><%= event.date %></p>
            <p><%= event.price %></p>
            <p>
            <a href="/cart/<%= event.id %>" class="btn btn-primary" role="button">Add to Cart <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a> 
            </p>      
            <p><%= link_to 'Show', event %></p>
            <p><%= link_to 'Edit', edit_event_path(event) %></p>
            <p><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          </div>
        </div>
      </div>    
    <% end %>
  </div>
</div>


<br>

<%= link_to 'New Event', new_event_path %>
